<ion-header>
  <ion-navbar>
    <ion-title >{{categoryName}}</ion-title>
    <!--<ion-row>-->
      <!--<div col-2 class="menuIconHolder">-->
        <!--<button ion-button menuToggle>-->
          <!--<ion-icon style="font-size: 50px" name="menu"></ion-icon>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div col-10>-->
        <!--<ion-title  style="padding-top: 10px">{{categoryName}}</ion-title>-->
      <!--</div>-->
    <!--</ion-row>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-card class="smartphoneCard" *ngFor="let smartphone of smartphoneList" (click)="goSmartphone(smartphone.id,
    smartphone.name,
    smartphone.image,
    smartphone.ram,
    smartphone.ram_info,
    smartphone.battery,
    smartphone.battery_info,
    smartphone.screen_inch,
    smartphone.screen_info,
    smartphone.camera,
    smartphone.camera_info)" col-6 float-left>
      <img [src]="smartphone?.image"/>
      <ion-row>
        <b class="phoneName" text-wrap [innerHTML]="smartphone?.name"></b>
      </ion-row>
    </ion-card>

  </ion-row>

  <ion-infinite-scroll (ionInfinite)="next($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="loading"></div>
</ion-content>
