<ion-header>
  <ion-navbar>
    <ion-row>
      <div col-2 class="menuIconHolder">
        <button ion-button menuToggle>
          <ion-icon style="font-size: 50px" name="menu"></ion-icon>
        </button>
      </div>
      <div col-10>

        <ion-searchbar style="width:90%;float: right"
                       [(ngModel)]="keyword"
                       [showCancelButton]="shouldShowCancel"
                       (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)" full start placeholder="Search movie or actor">
        </ion-searchbar>

      </div>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row id="secondRow">
    <ion-card class="smartphoneCard" *ngFor="let smartphone of searchSmartphones" (click)="goSmartphone(smartphone.id,
    smartphone.name,
    smartphone.image,
    smartphone.ram,
    smartphone.ram_info,
    smartphone.battery,
    smartphone.battery_info,
    smartphone.screen_inch,
    smartphone.screen_info,
    smartphone.camera,
    smartphone.camera_info)" col-6 float-left>
      <img [src]="smartphone?.image"/>
      <ion-row>
        <b class="phoneName" text-wrap [innerHTML]="smartphone?.name"></b>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="nextSearch($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </ion-row>
  <ion-row id="mainRow">
    <ion-card class="smartphoneCard" *ngFor="let smartphone of smartphones" (click)="goSmartphone(smartphone.id,
    smartphone.name,
    smartphone.image,
    smartphone.ram,
    smartphone.ram_info,
    smartphone.battery,
    smartphone.battery_info,
    smartphone.screen_inch,
    smartphone.screen_info,
    smartphone.camera,
    smartphone.camera_info)" col-6 float-left>
      <img [src]="smartphone?.image"/>
      <ion-row>
        <b class="phoneName" text-wrap [innerHTML]="smartphone?.name"></b>
      </ion-row>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="next($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
<ion-row><div class="loading"></div></ion-row>
</ion-content>
