page-home {
  //.searchbar-md .searchbar-input{
  //  padding: 0px 30px!important;
  //}
  //.searchbar-md .searchbar-search-icon {
  //  left: 5px;
  //  top: 6px;
  //}

  .button-inner {
    background-image: url("../assets/icon/menu.png");
    background-size: 42px;
    background-repeat: no-repeat;
  }

  .button-inner ion-icon {
    visibility: hidden;
  }
  .menuIconHolder {
    padding: 10px;
  }
  #secondRow {
    display: none;
  }
  ion-row{
    width: 100%;
  }
}
