// http://ionicframework.com/docs/theming/
.menu-inner {
  background: #FAFAFA !important;
}

#fab {
  bottom: 0px;
  right: 10px;
}

.toolbar-background-md {
  border-color: #b2b2b2;
  background: #f6a736 !important
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .toolbar-title, ion-title {
  color: #fff !important;
}

ion-title {
  font-weight: bold;
}

.toolbar-title {
  font-weight: bold;
}

.content {
  background-color: #FAFAFA !important;
}

.card {
  background-color: #fff;
}

//ion-label {
//  color: #fff;
//}
.line1 {
  margin-left: 20px !important;
  font-weight: bold !important;
  float: left
}

.line2 {
  float: right;
  font-weight: bold !important;
  margin-right: 20px !important;;
}

ion-card {
  background-color: #fff !important;
}

ion-card img {
  margin: auto !important;
  margin-bottom: 5px !important;
  width: auto !important;
  height: 80%;
}

ion-card .item-block {
  background-color: #fff !important;
}

.list .item {
  background-color: #FAFAFA !important;
  font-weight: bold;
}

button .item-inner {
  border-bottom: 1px solid #b2b2b2 !important;
}

//*{
//  font-family: 'Times new roman';
//}
.card {
  border: 1px solid #c1b0b0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.ttf');
  font-weight: 200
}

b, ion-card-content, .line2, .line1, p {
  color: #514f5a !important;
}

[col-6] {
  width: 45% !important;
  margin: 2% !important;
  float: left !important;
  max-width: 45% !important;
  border: 2px solid #f6a736;
}

.phoneName {
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

.smartphoneCard {
  background-image: url("../assets/icon/loading.gif");
  height: 200px;
  background-position: center;
  background-size: 176px;
  background-repeat: no-repeat;
}
.loading{
  background-image: url("../assets/icon/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  height: 100px;
  width: 100px;
}
