page-smartphone {
  .smartphoneImage {
    width: 100%;
    max-height: 500px;
  }

  ion-card-title h2 {
    text-align: center;
  }

.categoryName{
  border: 1px solid #f79100;
  margin-bottom: 10px;
  color: #fff !important;
  background: #f79100 !important;
  padding: 5px;
}
.subCategoryName{
  border: 2px solid #a4ff86;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 10px;
  color: #fff !important;
  background: #028802 !important;
}
  .info{
    margin-left: 20px;
  }
  #phoneInfo{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
  }
  //.button-inner {
  //  background-image: url("../../assets/icon/menu.png");
  //  background-size: 35px;
  //  background-repeat: no-repeat;
  //}
  //
  //.button-inner ion-icon {
  //  visibility: hidden;
  //}
  //.menuIconHolder{
  //  padding: 10px;
  //}
}
