<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [innerHTML]="name"></ion-title>

    <!--<ion-row>-->
    <!--<div col-2 class="menuIconHolder">-->
    <!--<button ion-button menuToggle>-->
    <!--<ion-icon style="font-size: 50px" name="menu"></ion-icon>-->
    <!--</button>-->
    <!--</div>-->
    <!--<div col-10>-->
    <!--<ion-title  style="padding-top: 10px">{{categoryName}}</ion-title>-->
    <!--</div>-->
    <!--</ion-row>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card text-wrap>

    <ion-card-title>
      <h2><b [innerHTML]="name"></b></h2>
    </ion-card-title>

    <img class="smartphoneImage" src="{{image}}"/>

    <ion-card-content>
      <table id="phoneInfo">
        <tr>
          <td>Ram:</td>
          <td>{{ram}}</td>
          <td *ngIf="ram_info">/ {{ram_info}}</td>
        </tr>
        <tr>
          <td>Camera:</td>
          <td>{{camera}}</td>
          <td *ngIf="camera_info">/ {{camera_info}}</td>
        </tr>
        <tr>
          <td>Screen:</td>
          <td>{{screen_inch}}</td>
          <td *ngIf="screen_info">/ {{screen_info}}</td>
        </tr>
        <tr>
          <td>Battery:</td>
          <td>{{battery}}</td>
          <td *ngIf="battery_info">/ {{battery_info}}</td>
        </tr>
      </table>
      <div *ngFor="let c of categories">
        <p class="categoryName"> {{c.name}} :</p>
        <div *ngFor="let dt of filterDetails(c.id,0)">
          <p class="info"> {{dt.info}}</p>
        </div>
        <div *ngFor="let sc of filterSubCategories(c.id)">
          <p class="subCategoryName"> {{sc.name}}</p>
          <div *ngFor="let dt of filterDetails(sc.id,1)">
            <p class="info"> {{dt.info}}</p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
